body{
  padding: 10px 30px;
  background: url(img/bgcrud.jpg);
}

.isi{
  padding: 15px 50px;
}

.tambah-keluar{
  padding-bottom: 15px;
}

th{
  height: 40px;
}

td{
  background: rgba(241, 209, 224, 0.582);
}

table{
  padding: 30%;
}