body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  background: url(img/bgtambah.jpg);
  background-size: 100%;
}

.container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(66, 62, 62, 0.582);
  padding: 25px 50px;
  width: 500px;
  box-shadow: 0 0 25px 10px rgb(255, 255, 255);
  border-radius: 25px;
  color: white;
}

h3{
  text-align: center;
  font-size: 30px;
}

.form-group{
  margin-bottom: 25px;
  margin-top: 20px;
}

.text-center{
  color: white;
  font-size: 27px;
  letter-spacing: 3px;
  padding-top: 0;
  margin-top: 25px;
  margin-bottom: 30px;
}

input{
  width: 100%;
  padding: 5px;
}

.input-group{
  padding: 3px 0 15px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
}

button{
  width: 100%;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 15px;
  margin: 10px 0 5px 0;
  color: white;
}

.simpan{
  background: rgb(219, 86, 86);
}
