body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  background: url(img/imgbg.jpg);
  background-size: 100%;
}

.container{
  position: fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%,-50%);
  background: rgba(4, 29, 23, 0.1);
  padding: 25px 50px;
  width: 500px;
  box-shadow: 0 0 25px 10px rgb(255, 255, 255);
  border-radius: 25px;
  color: white;
}

.avatar{
  background:rgb(216, 213, 213);
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: fixed;
  left: 50px;
  top: 0;
  color:  #000000;
  transform: translate(230%,-50%);
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  border: 5px rgb(216, 213, 213);
  padding-top: 0;
}

.isi{
  padding-bottom: 20px;
}

.text-center{
  color: white;
  font-size: 27px;
  letter-spacing: 3px;
  padding-top: 0;
  margin-top: 25px;
  margin-bottom: 30px;
}

.input-group{
  padding: 5px 0 25px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
}

button{
  width: 49%;
  margin-top: 1px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  cursor: pointer;
}

.bottom{
  padding:  0;
  text-align: center;
  justify-content: space-between;
  font-size: 10px;
  text-decoration: underline;
}

footer{
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 11px;
  display: block;
}